<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<form class="form-inline text-left" name="editForm" keypress-enter="submit()" keypress-esc="cancel()">
			<h3 ng-show="isEdition"  class="text-center" translate="label.class.edit.pencil"></h3>
			<h3 ng-show="isCreation" class="text-center" translate="label.class.create.pencil"></h3>
			<h3 ng-show="isDeletion" class="text-center" translate="label.class.delete.pencil"></h3>
			<h3 ng-show="isView"     class="text-center" translate="label.class.singular.pencil"></h3>			
			<fieldset ng-show="dataReceived">
				<div class="row">
					<div class="form-group col-md-4">
						<label for="inputDescription">Description</label>
						<div>
							<input id="inputDescription" 
								   name="inputDescription"
								   type="text" 
								   class="form-control" 
								   placeholder="Description" 
								   ng-model="obj.description" 
								   ng-readonly="readOnly"
								   required auto-focus />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputProfile">Profile</label>
						<div>
							<input id="inputProfile" 
								   name="inputProfile"
								   type="text" 
								   class="form-control" 
								   placeholder="(not assigned)" 
								   ng-model="obj.actualProfile._displayLabel" 
								   readonly required />
							<button class="btn btn-default" ng-show="!readOnly && obj.actualProfile._displayLabel && obj.enableProfile" tooltip="Clear" ng-click="clearProfile()">
								<span class="glyphicon glyphicon-remove" />
							</button>
							<button class="btn btn-default" ng-show="!readOnly && obj.enableProfile" tooltip="{{'cmd.select' | translate}}" ng-click="selectProfile()">
								<span class="glyphicon glyphicon-search" />
							</button>
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputState">State</label>
						<div>
							<input id="inputState" 
								   name="inputState"
								   type="text" 
								   class="form-control" 
								   placeholder="(not assigned)" 
								   ng-model="obj.actualState._displayLabel" 
								   readonly required />
							<button class="btn btn-default" ng-show="!readOnly && obj.actualState._displayLabel && obj.enableState" tooltip="Clear" ng-click="clearState()">
								<span class="glyphicon glyphicon-remove" />
							</button>
							<button class="btn btn-default" ng-show="!readOnly && obj.enableState" tooltip="{{'cmd.select' | translate}}" ng-click="selectState()">
								<span class="glyphicon glyphicon-search" />
							</button>
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputPenciler">Penciler</label>
						<div>
							<input id="inputPenciler" 
								   name="inputPenciler"
								   type="text" 
								   class="form-control" 
								   placeholder="(not assigned)" 
								   ng-model="obj.actualPenciler._displayLabel" 
								   readonly  />
							<button class="btn btn-default" ng-show="!readOnly && obj.actualPenciler._displayLabel && obj.enablePenciler" tooltip="Clear" ng-click="clearPenciler()">
								<span class="glyphicon glyphicon-remove" />
							</button>
							<button class="btn btn-default" ng-show="!readOnly && obj.enablePenciler" tooltip="{{'cmd.select' | translate}}" ng-click="selectPenciler()">
								<span class="glyphicon glyphicon-search" />
							</button>
						</div>
					</div>
				</div>
			</fieldset>
			<br/>
			<table id="caption" class="table">
				<tr>
					<td class="text-left">
						<h4>History</h4>
					</td>
					<td class="text-right">
						<a class="iconBig" alt="{{'cmd.add' | translate}}" ng-show="!readOnly" ng-click="addHistory()" ><span tooltip="{{'cmd.add' | translate}}" class="glyphicon glyphicon-plus"></span></a>
					</td>
				</tr>
			</table>
			<table id="itemList" class="table data-table table-hover table-striped table-condensed">
				<thead>
					<th ng-click="sortBy('date')" class="col-md-5">Date<sort-column ng-model="searchContext.sort.date"></sort-column></th>
					<th ng-click="sortBy('state')" class="col-md-5">State<sort-column ng-model="searchContext.sort.state"></sort-column></th>
					<th ng-click="sortBy('user')" class="col-md-5">User<sort-column ng-model="searchContext.sort.user"></sort-column></th>
					<th ng-click="sortBy('description')" class="col-md-5">Description<sort-column ng-model="searchContext.sort.description"></sort-column></th>
					
					<th ng-show="!readOnly" class="col-md-1"></th>
					<th ng-show="!readOnly" class="col-md-1"></th>
					<th ng-show="!readOnly" class="col-md-1"></th>
				</thead>
				<tbody>
					<tr ng-repeat="historyEntry in obj.history">
							<td class="data"><a ng-click="viewHistory(historyEntry)">{{historyEntry.date |  date:'yyyy.MM.dd HH:mm:ss Z'}}</a></td>
							<td class="data">{{historyEntry.state}}</td>
							<td class="data">{{historyEntry.user}}</td>
							<td class="data">{{historyEntry.description}}</td>
						<td>
							<a href ng-click="viewHistory(historyEntry)">
								<span class="glyphicon glyphicon-th-list" tooltip="{{'cmd.view' | translate}}"></span>
							</a>
						</td>
						<td>
							<a href ng-show="!readOnly" ng-click="editHistory(historyEntry)">
								<span class="glyphicon glyphicon-edit" tooltip="{{'cmd.edit' | translate}}"></span>
							</a>
						</td>
						<td>
							<a href ng-show="!readOnly" ng-click="deleteHistory(historyEntry)">
								<span class="glyphicon glyphicon-remove color-red" tooltip="{{'cmd.delete' | translate}}"></span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>			
			<br/>
			<div class="row">	
				<error-zone ng-model="errors"></error-zone>
			</div>

			<div ng-hide="dataReceived" class="loader"><img src="images/loader.gif" alt="Loading..." /></div>
			<div ng-show="uiWorking" class="loader"><img src="images/loader.gif" alt="Working..." /></div>

			<div class="row acc-buttons">
				<button type="button" ng-show="isView" class="btn btn-default" ng-click="cancel($event)">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span translate="cmd.back"></span>
				</button>
				<button type="button" ng-show="isCreation" class="btn btn-primary" ng-click="add()" ng-disabled="editForm.$invalid" >
					<span class="glyphicon glyphicon-plus"></span>
					<span translate="cmd.create"></span>
				</button>
				<button type="button" ng-show="isEdition" class="btn btn-primary" ng-click="update()" ng-disabled="editForm.$invalid" >
					<span class="glyphicon glyphicon-save"></span>
					<span translate="cmd.update"></span>
				</button>
				<button type="button" ng-show="isDeletion" class="btn btn-primary" ng-click="delete()">
					<span class="glyphicon glyphicon-trash"></span>
					<span translate="cmd.delete"></span>
				</button>
				<button type="button" ng-show="canEdit" class="btn btn-primary" ng-click="gotoEdit()" ng-disabled="editForm.$invalid" >
					<span class="glyphicon glyphicon-pencil"></span>
					<span translate="cmd.modify"></span>
				</button>
				<button type="button" ng-hide="isView" class="btn btn-default" ng-click="cancel($event)">
					<span translate="cmd.cancel"></span>
				</button>
				<button type="button" ng-show="canDelete" class="btn btn-primary pull-right" ng-click="gotoDelete()" ng-disabled="editForm.$invalid" >
					<span class="glyphicon glyphicon-trash"></span>
					<span translate="cmd.confirmDeletion"></span>
				</button>					
			</div>
		</form>
	</div>
	<div class="col-md-1"></div>
</div>
