<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<form class="form-inline text-left" name="editForm" keypress-enter="submit()" keypress-esc="cancel()">
			<h3 ng-show="isEdition"  class="text-center" translate="label.class.edit.appUser"></h3>
			<h3 ng-show="isCreation" class="text-center" translate="label.class.create.appUser"></h3>
			<h3 ng-show="isDeletion" class="text-center" translate="label.class.delete.appUser"></h3>
			<h3 ng-show="isView"     class="text-center" translate="label.class.singular.appUser"></h3>			
			<fieldset ng-show="dataReceived">
				<div class="row">
					<div class="form-group col-md-4">
						<label for="inputFirstName">FirstName</label>
						<div>
							<input id="inputFirstName" 
								   name="inputFirstName"
								   type="text" 
								   class="form-control" 
								   placeholder="FirstName" 
								   ng-model="obj.firstName" 
								   ng-readonly="readOnly"
								   required auto-focus />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputLastName">LastName</label>
						<div>
							<input id="inputLastName" 
								   name="inputLastName"
								   type="text" 
								   class="form-control" 
								   placeholder="LastName" 
								   ng-model="obj.lastName" 
								   ng-readonly="readOnly"
								   required />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputEmail">Email</label>
						<div>
							<input id="inputEmail" 
								   name="inputEmail"
								   type="text" 
								   class="form-control" 
								   placeholder="Email" 
								   ng-model="obj.email" 
								   ng-readonly="readOnly"
								   required />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputPhone">Phone</label>
						<div>
							<input id="inputPhone" 
								   name="inputPhone"
								   type="text" 
								   class="form-control" 
								   placeholder="Phone" 
								   ng-model="obj.phone" 
								   ng-readonly="readOnly"
								   required />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputPhoto">Photo</label>
						<div>
							<image-selector 
								   id="inputPhoto" 
								   name="inputPhoto"
								   ng-model="obj.photo" 
								   readonly="readOnly"
								   ng-required="false"
								   width="150"
								   options=""/>
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputEquipment">Equipment</label>
						<div>
							<input id="inputEquipment" 
								   name="inputEquipment"
								   type="text" 
								   class="form-control" 
								   placeholder="Equipment" 
								   ng-model="obj.equipment" 
								   ng-readonly="readOnly"
								    />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputRate">Rate</label>
						<div>
							<input id="inputRate" 
								   name="inputRate"
								   type="text" 
								   class="form-control" 
								   placeholder="Rate" 
								   ng-model="obj.rate" 
								   ng-readonly="readOnly"
								    />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputWorkingHours">WorkingHours</label>
						<div>
							<input id="inputWorkingHours" 
								   name="inputWorkingHours"
								   type="text" 
								   class="form-control" 
								   placeholder="WorkingHours" 
								   ng-model="obj.workingHours" 
								   ng-readonly="readOnly"
								    />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputOvertimeRate">OvertimeRate</label>
						<div>
							<input id="inputOvertimeRate" 
								   name="inputOvertimeRate"
								   type="text" 
								   class="form-control" 
								   placeholder="OvertimeRate" 
								   ng-model="obj.overtimeRate" 
								   ng-readonly="readOnly"
								    />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputCVOverview">CVOverview</label>
						<div>
							<input id="inputCVOverview" 
								   name="inputCVOverview"
								   type="text" 
								   class="form-control" 
								   placeholder="CVOverview" 
								   ng-model="obj.cVOverview" 
								   ng-readonly="readOnly"
								    />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputCv">Cv</label>
						<div>
							<file-selector 
								   id="inputCv" 
								   name="inputCv"
								   ng-model="obj.cv" 
								   readonly="readOnly"
								   ng-required="false"
								   accept="*/*"
								   options=""/>
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputNotes">Notes</label>
						<div>
							<input id="inputNotes" 
								   name="inputNotes"
								   type="text" 
								   class="form-control" 
								   placeholder="Notes" 
								   ng-model="obj.notes" 
								   ng-readonly="readOnly"
								    />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputTokenPush">TokenPush</label>
						<div>
							<input id="inputTokenPush" 
								   name="inputTokenPush"
								   type="text" 
								   class="form-control" 
								   placeholder="TokenPush" 
								   ng-model="obj.tokenPush" 
								   ng-readonly="readOnly"
								    />
						</div>
					</div>
				</div>
			</fieldset>
			<br/>
			<div ng-hide="obj.hideCompanies">
				<table id="caption" class="table">
					<tr>
						<td class="text-left">
							<h4>Companies</h4>
						</td>
						<td class="text-right">
							<a class="select-link iconBig" alt="{{'cmd.select' | translate}}" ng-show="!readOnly" ng-click="selectCompanies()" ><span tooltip="{{'cmd.select' | translate}}" class="glyphicon glyphicon-search"></span></a>
							<a class="iconBig" alt="{{'cmd.add' | translate}}" ng-show="!readOnly && ui.createCompanies" ng-click="addCompanies()" ><span tooltip="{{'cmd.add' | translate}}" class="glyphicon glyphicon-plus"></span></a>
						</td>
					</tr>
				</table>
				<table id="itemList" class="table data-table table-hover table-striped table-condensed">
					<thead>
						<th ng-click="sortBy('name')" class="col-md-5">Name<sort-column ng-model="searchContext.sort.name"></sort-column></th>
						<th ng-click="sortBy('companyEmail')" class="col-md-5">CompanyEmail<sort-column ng-model="searchContext.sort.companyEmail"></sort-column></th>
						<th ng-click="sortBy('contactPhone')" class="col-md-5">ContactPhone<sort-column ng-model="searchContext.sort.contactPhone"></sort-column></th>
						<th ng-click="sortBy('logo')" class="col-md-5">Logo<sort-column ng-model="searchContext.sort.logo"></sort-column></th>
						<th ng-show="!readOnly" class="col-md-1"></th>
					</thead>
					<tbody>
						<tr ng-repeat="company in obj.companies">
							<td class="data"><a ng-click="viewCompanies(company)">{{company.name}}</a></td>
							<td class="data">{{company.companyEmail}}</td>
							<td class="data">{{company.contactPhone}}</td>
							<td class="data"><a href="{{company.logo}}" ng-if="!(company.logo.toString().indexOf('/')==-1)"><img ng-src="{{company.logo}}" width="30"/></a></td>
							<td>
								<a href ng-show="!readOnly" ng-click="deleteCompanies(company)">
									<span class="glyphicon glyphicon-link color-red" tooltip="{{'cmd.unlink' | translate}}"></span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>			
			<br/>
			<br/>
			<div ng-hide="obj.hideProjects">
				<table id="caption" class="table">
					<tr>
						<td class="text-left">
							<h4>Projects</h4>
						</td>
						<td class="text-right">
							<a class="select-link iconBig" alt="{{'cmd.select' | translate}}" ng-show="!readOnly" ng-click="selectProjects()" ><span tooltip="{{'cmd.select' | translate}}" class="glyphicon glyphicon-search"></span></a>
							<a class="iconBig" alt="{{'cmd.add' | translate}}" ng-show="!readOnly && ui.createProjects" ng-click="addProjects()" ><span tooltip="{{'cmd.add' | translate}}" class="glyphicon glyphicon-plus"></span></a>
						</td>
					</tr>
				</table>
				<table id="itemList" class="table data-table table-hover table-striped table-condensed">
					<thead>
						<th ng-click="sortBy('name')" class="col-md-5">Name<sort-column ng-model="searchContext.sort.name"></sort-column></th>
						<th ng-click="sortBy('description')" class="col-md-5">Description<sort-column ng-model="searchContext.sort.description"></sort-column></th>
						<th ng-click="sortBy('startDate')" class="col-md-5">StartDate<sort-column ng-model="searchContext.sort.startDate"></sort-column></th>
						<th ng-click="sortBy('endDate')" class="col-md-5">EndDate<sort-column ng-model="searchContext.sort.endDate"></sort-column></th>
						<th ng-click="sortBy('customer')" class="col-md-5">Customer<sort-column ng-model="searchContext.sort.customer"></sort-column></th>
						<th ng-click="sortBy('customerProducer')" class="col-md-5">CustomerProducer<sort-column ng-model="searchContext.sort.customerProducer"></sort-column></th>
						<th ng-show="!readOnly" class="col-md-1"></th>
					</thead>
					<tbody>
						<tr ng-repeat="project in obj.projects">
							<td class="data"><a ng-click="viewProjects(project)">{{project.name}}</a></td>
							<td class="data">{{project.description}}</td>
							<td class="data">{{project.startDate | date:'yyyy.MM.dd'}}</td>
							<td class="data">{{project.endDate | date:'yyyy.MM.dd'}}</td>
							<td class="data">{{project.customer}}</td>
							<td class="data">{{project.customerProducer}}</td>
							<td>
								<a href ng-show="!readOnly" ng-click="deleteProjects(project)">
									<span class="glyphicon glyphicon-link color-red" tooltip="{{'cmd.unlink' | translate}}"></span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>			
			<br/>
			<br/>
			<input type="number" ng-hide="true" min="1" ng-model="obj.countries.length"/>
			<div>
				<table id="caption" class="table">
					<tr>
						<td class="text-left">
							<h4 ng-class="{'invalidRequired': obj.countries.length==0}">Countries</h4>
						</td>
						<td class="text-right">
							<a class="select-link iconBig" alt="{{'cmd.select' | translate}}" ng-show="!readOnly" ng-click="selectCountries()" ><span tooltip="{{'cmd.select' | translate}}" class="glyphicon glyphicon-search"></span></a>
							<a class="iconBig" alt="{{'cmd.add' | translate}}" ng-show="!readOnly && ui.createCountries" ng-click="addCountries()" ><span tooltip="{{'cmd.add' | translate}}" class="glyphicon glyphicon-plus"></span></a>
						</td>
					</tr>
				</table>
				<table id="itemList" class="table data-table table-hover table-striped table-condensed">
					<thead>
						<th ng-click="sortBy('name')" class="col-md-5">Name<sort-column ng-model="searchContext.sort.name"></sort-column></th>
						<th ng-show="!readOnly" class="col-md-1"></th>
					</thead>
					<tbody>
						<tr ng-repeat="country in obj.countries">
							<td class="data"><a ng-click="viewCountries(country)">{{country.name}}</a></td>
							<td>
								<a href ng-show="!readOnly" ng-click="deleteCountries(country)">
									<span class="glyphicon glyphicon-link color-red" tooltip="{{'cmd.unlink' | translate}}"></span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>			
			<br/>
			<br/>
			<input type="number" ng-hide="true" min="1" ng-model="obj.cities.length"/>
			<div>
				<table id="caption" class="table">
					<tr>
						<td class="text-left">
							<h4 ng-class="{'invalidRequired': obj.cities.length==0}">Cities</h4>
						</td>
						<td class="text-right">
							<a class="select-link iconBig" alt="{{'cmd.select' | translate}}" ng-show="!readOnly" ng-click="selectCities()" ><span tooltip="{{'cmd.select' | translate}}" class="glyphicon glyphicon-search"></span></a>
							<a class="iconBig" alt="{{'cmd.add' | translate}}" ng-show="!readOnly && ui.createCities" ng-click="addCities()" ><span tooltip="{{'cmd.add' | translate}}" class="glyphicon glyphicon-plus"></span></a>
						</td>
					</tr>
				</table>
				<table id="itemList" class="table data-table table-hover table-striped table-condensed">
					<thead>
						<th ng-click="sortBy('name')" class="col-md-5">Name<sort-column ng-model="searchContext.sort.name"></sort-column></th>
						<th ng-show="!readOnly" class="col-md-1"></th>
					</thead>
					<tbody>
						<tr ng-repeat="city in obj.cities">
							<td class="data"><a ng-click="viewCities(city)">{{city.name}}</a></td>
							<td>
								<a href ng-show="!readOnly" ng-click="deleteCities(city)">
									<span class="glyphicon glyphicon-link color-red" tooltip="{{'cmd.unlink' | translate}}"></span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>			
			<br/>
			<br/>
			<div ng-hide="obj.hideRoles">
				<table id="caption" class="table">
					<tr>
						<td class="text-left">
							<h4>Roles</h4>
						</td>
						<td class="text-right">
							<a class="select-link iconBig" alt="{{'cmd.select' | translate}}" ng-show="!readOnly" ng-click="selectRoles()" ><span tooltip="{{'cmd.select' | translate}}" class="glyphicon glyphicon-search"></span></a>
							<a class="iconBig" alt="{{'cmd.add' | translate}}" ng-show="!readOnly && ui.createRoles" ng-click="addRoles()" ><span tooltip="{{'cmd.add' | translate}}" class="glyphicon glyphicon-plus"></span></a>
						</td>
					</tr>
				</table>
				<table id="itemList" class="table data-table table-hover table-striped table-condensed">
					<thead>
						<th ng-click="sortBy('name')" class="col-md-5">Name<sort-column ng-model="searchContext.sort.name"></sort-column></th>
						<th ng-click="sortBy('description')" class="col-md-5">Description<sort-column ng-model="searchContext.sort.description"></sort-column></th>
						<th ng-show="!readOnly" class="col-md-1"></th>
					</thead>
					<tbody>
						<tr ng-repeat="role in obj.roles">
							<td class="data"><a ng-click="viewRoles(role)">{{role.name}}</a></td>
							<td class="data">{{role.description}}</td>
							<td>
								<a href ng-show="!readOnly" ng-click="deleteRoles(role)">
									<span class="glyphicon glyphicon-link color-red" tooltip="{{'cmd.unlink' | translate}}"></span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>			
			<br/>
			<div class="row">	
				<error-zone ng-model="errors"></error-zone>
			</div>

			<div ng-hide="dataReceived" class="loader"><img src="images/loader.gif" alt="Loading..." /></div>
			<div ng-show="uiWorking" class="loader"><img src="images/loader.gif" alt="Working..." /></div>

			<div class="row acc-buttons">
				<button type="button" ng-show="isView" class="btn btn-default" ng-click="cancel($event)">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span translate="cmd.back"></span>
				</button>
				<button type="button" ng-show="isCreation" class="btn btn-primary" ng-click="add()" ng-disabled="editForm.$invalid" >
					<span class="glyphicon glyphicon-plus"></span>
					<span translate="cmd.create"></span>
				</button>
				<button type="button" ng-show="isEdition" class="btn btn-primary" ng-click="update()" ng-disabled="editForm.$invalid" >
					<span class="glyphicon glyphicon-save"></span>
					<span translate="cmd.update"></span>
				</button>
				<button type="button" ng-show="isDeletion" class="btn btn-primary" ng-click="delete()">
					<span class="glyphicon glyphicon-trash"></span>
					<span translate="cmd.delete"></span>
				</button>
				<button type="button" ng-show="canEdit" class="btn btn-primary" ng-click="gotoEdit()" ng-disabled="editForm.$invalid" >
					<span class="glyphicon glyphicon-pencil"></span>
					<span translate="cmd.modify"></span>
				</button>
				<button type="button" ng-hide="isView" class="btn btn-default" ng-click="cancel($event)">
					<span translate="cmd.cancel"></span>
				</button>
				<button type="button" ng-show="canDelete" class="btn btn-primary pull-right" ng-click="gotoDelete()" ng-disabled="editForm.$invalid" >
					<span class="glyphicon glyphicon-trash"></span>
					<span translate="cmd.confirmDeletion"></span>
				</button>					
			</div>
		</form>
	</div>
	<div class="col-md-1"></div>
</div>
