<div class="row">
	<div class="col-md-12">
	
		<table id="caption" class="table">
			<tr>
				<td class="text-left">
				</td>
				<td class="text-center">
					<h3 translate="label.class.select.appUser"></h3>
				</td>
				<td class="text-right">
				  <a class="iconBig" href ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span></a>
				</td>
			</tr>
		</table>

		<div class="upperTableZone row">
			<search-tool class="col-md-12"
						 ng-model="searchContext"
						 search="refresh">
			</search-tool>
		</div>

		<table id="itemList" class="table data-table table-hover table-striped table-condensed" ng-show="dataReceived">
			<thead>
				<th>
				</th>				
				<th ng-click="sortBy('firstName')">FirstName<sort-column ng-model="searchContext.sort.firstName"></sort-column></th>
				<th ng-click="sortBy('lastName')">LastName<sort-column ng-model="searchContext.sort.lastName"></sort-column></th>
				<th ng-click="sortBy('email')">Email<sort-column ng-model="searchContext.sort.email"></sort-column></th>
				<th ng-click="sortBy('phone')">Phone<sort-column ng-model="searchContext.sort.phone"></sort-column></th>
				<th ng-click="sortBy('photo')">Photo<sort-column ng-model="searchContext.sort.photo"></sort-column></th>
				<th ng-click="sortBy('equipment')">Equipment<sort-column ng-model="searchContext.sort.equipment"></sort-column></th>
				<th ng-click="sortBy('rate')">Rate<sort-column ng-model="searchContext.sort.rate"></sort-column></th>
				<th ng-click="sortBy('workingHours')">WorkingHours<sort-column ng-model="searchContext.sort.workingHours"></sort-column></th>
				<th ng-click="sortBy('overtimeRate')">OvertimeRate<sort-column ng-model="searchContext.sort.overtimeRate"></sort-column></th>
				<th ng-click="sortBy('cVOverview')">CVOverview<sort-column ng-model="searchContext.sort.cVOverview"></sort-column></th>
				<th ng-click="sortBy('cv')">Cv<sort-column ng-model="searchContext.sort.cv"></sort-column></th>
				<th ng-click="sortBy('notes')">Notes<sort-column ng-model="searchContext.sort.notes"></sort-column></th>
				<th ng-click="sortBy('tokenPush')">TokenPush<sort-column ng-model="searchContext.sort.tokenPush"></sort-column></th>
                
				<th></th>
			</thead>
			<tbody>
				<tr ng-repeat="appUser in dataList">
					<td>
						<a href ng-click="select(appUser, $event)">
							<span class="glyphicon glyphicon-search" tooltip="Select">
						</a>
					</td>
					<td class="data">{{appUser.firstName}}</td>
					<td class="data">{{appUser.lastName}}</td>
					<td class="data">{{appUser.email}}</td>
					<td class="data">{{appUser.phone}}</td>
					<td class="data"><a href="{{appUser.photo}}"><img ng-src="{{appUser.photo}}" width="30"/></a></td>
					<td class="data">{{appUser.equipment}}</td>
					<td class="data">{{appUser.rate}}</td>
					<td class="data">{{appUser.workingHours}}</td>
					<td class="data">{{appUser.overtimeRate}}</td>
					<td class="data">{{appUser.cVOverview}}</td>
					<td class="data"><a href="{{appUser.cv}}"><span>{{appUser.cv | file }}</span></a></td>
					<td class="data">{{appUser.notes}}</td>
                    <td class="data">{{appUser.tokenPush}}</td>
					<td>
						<a href ng-click="select(appUser, $event)">
							<span class="glyphicon glyphicon-search" tooltip="Select">
						</a>
					</td>
				</tr>
			</tbody>
		</table>			
		
		<div ng-show="dataReceived" class="text-center">
			<div>
				<pagination max-size="5" 
							boundary-links="true" 
				            total-items="searchContext.totalItems" 
				            items-per-page="searchContext.pageSize" 
				            ng-model="searchContext.currentPage" 
							ng-change="loadCurrentPage()"
							previous-text="&lsaquo;" 
							next-text="&rsaquo;" 
							first-text="&laquo;" 
							last-text="&raquo;">
				</pagination>
			</div>
		</div>			
		<div ng-show="!dataReceived" class="loader">
			<img src="images/loader.gif" alt="Loading..." />
		</div>
		<div class="row acc-buttons">
			<div class="form-group">
				<div>
					<button class="btn" ng-click="select()">
						<span class="glyphicon glyphicon-chevron-left"></span>
						<span translate="cmd.cancel"></span>
					</button>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
