<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h1 translate="appName"></h1>
		<p translate="main.welcome"></p>

		<div class="row text-left">
			<div class="col-md-6">
				<h2 translate="admin.resources"></h2>
				<ul class="nav nav-pills nav-stacked">	
					<li ng-show="canAccessResource.company">
						<a class="entryMenu" 
						   href="#/company"
						   translate="label.class.plural.company">
						</a>
					</li>
					<li ng-show="canAccessResource.project">
						<a class="entryMenu" 
						   href="#/project"
						   translate="label.class.plural.project">
						</a>
					</li>
					<li ng-show="canAccessResource.crewMember">
						<a class="entryMenu" 
						   href="#/crewMember"
						   translate="label.class.plural.crewMember">
						</a>
					</li>
					<li ng-show="canAccessResource.pencil">
						<a class="entryMenu" 
						   href="#/pencil"
						   translate="label.class.plural.pencil">
						</a>
					</li>
					<li ng-show="canAccessResource.role">
						<a class="entryMenu" 
						   href="#/role"
						   translate="label.class.plural.role">
						</a>
					</li>
					<li ng-show="canAccessResource.pencilState">
						<a class="entryMenu" 
						   href="#/pencilState"
						   translate="label.class.plural.pencilState">
						</a>
					</li>
					<li ng-show="canAccessResource.appUser">
						<a class="entryMenu" 
						   href="#/appUser"
						   translate="label.class.plural.appUser">
						</a>
					</li>
					<li ng-show="canAccessResource.country">
						<a class="entryMenu" 
						   href="#/country"
						   translate="label.class.plural.country">
						</a>
					</li>
					<li ng-show="canAccessResource.city">
						<a class="entryMenu" 
						   href="#/city"
						   translate="label.class.plural.city">
						</a>
					</li>
					<li ng-show="canAccessResource.crewMemberState">
						<a class="entryMenu" 
						   href="#/crewMemberState"
						   translate="label.class.plural.crewMemberState">
						</a>
					</li>
					<li ng-show="canAccessResource.projectState">
						<a class="entryMenu" 
						   href="#/projectState"
						   translate="label.class.plural.projectState">
						</a>
					</li>
		
				</ul>
			</div>
			
			<div ng-show="userHasAdminRole()" class="col-md-6">
				<h2 translate="admin.configuration"></h2>
				<ul class="nav nav-pills nav-stacked">	
					<li>
						<a class="entryMenu" href="#/admin/users/">
							<img src="/images/adminKey.png" class="admin-logo"/>
							<span translate="main.admin.users"></span>
						</a> 
						<span translate="main.admin.usersDescription"></span>
					</li>
					<li>
						<a class="entryMenu" href="#/admin/permissions/">
							<img src="/images/adminPermissions.png" class="admin-logo"/>
							<span translate="main.admin.permissions"></span>
						</a> 
						<span translate="main.admin.permissionsDescription"></span>
					</li>					
					<li>
						<a class="entryMenu" href="#/admin/webHooks/">
							<img src="/images/adminHook.png" class="admin-logo"/>
							<span translate="main.admin.webhooks"></span>
						</a> 
						<span translate="main.admin.webhooksDescription"></span>
					</li>
				</ul>
				
			</div>
		</div>	
				
		<br/>
		<br/>
		<p>
			<span translate="main.exploreApi"></span> 
			<span ></span> 
			<a href="/api/swagger.json" target="_blank" translate="main.raw"></a>,
			<span translate="main.orWith"></span> 
			<a href="http://petstore.swagger.io/?url={{serviceUriBase}}/api/swagger.json%3Fapikey={{apikey}}" target="_blank" translate="main.apiExplorer"></a>.
		</p>
		<a href="http://online.swagger.io/validator/debug/?url={{serviceUriBase}}/api/swagger.json%3Fapikey={{apikey}}" target="_blank">
			<img src="http://online.swagger.io/validator/?url={{serviceUriBase}}/api/swagger.json%3Fapikey={{apikey}}">
		</a>

	</div>
	<div class="col-md-2"></div>
</div>
