<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<form class="form-inline text-left" name="editForm" keypress-enter="submit()" keypress-esc="cancel()">
			<h3 ng-show="isEdition"  class="text-center" translate="label.class.edit.company"></h3>
			<h3 ng-show="isCreation" class="text-center" translate="label.class.create.company"></h3>
			<h3 ng-show="isDeletion" class="text-center" translate="label.class.delete.company"></h3>
			<h3 ng-show="isView"     class="text-center" translate="label.class.singular.company"></h3>			
			<fieldset ng-show="dataReceived">
				<div class="row">
					<div class="form-group col-md-4">
						<label for="inputName">Name</label>
						<div>
							<input id="inputName" 
								   name="inputName"
								   type="text" 
								   class="form-control" 
								   placeholder="Name" 
								   ng-model="obj.name" 
								   ng-readonly="readOnly"
								   required auto-focus />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputCompanyEmail">CompanyEmail</label>
						<div>
							<input id="inputCompanyEmail" 
								   name="inputCompanyEmail"
								   type="text" 
								   class="form-control" 
								   placeholder="CompanyEmail" 
								   ng-model="obj.companyEmail" 
								   ng-readonly="readOnly"
								   required />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputContactPhone">ContactPhone</label>
						<div>
							<input id="inputContactPhone" 
								   name="inputContactPhone"
								   type="text" 
								   class="form-control" 
								   placeholder="ContactPhone" 
								   ng-model="obj.contactPhone" 
								   ng-readonly="readOnly"
								    />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputLogo">Logo</label>
						<div>
							<image-selector 
								   id="inputLogo" 
								   name="inputLogo"
								   ng-model="obj.logo" 
								   readonly="readOnly"
								   ng-required="false"
								   width="150"
								   options=""/>
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputCountry">Country</label>
						<div>
							<input id="inputCountry" 
								   name="inputCountry"
								   type="text" 
								   class="form-control" 
								   placeholder="(not assigned)" 
								   ng-model="obj.actualCountry._displayLabel" 
								   readonly required />
							<button class="btn btn-default" ng-show="!readOnly && obj.actualCountry._displayLabel && obj.enableCountry" tooltip="Clear" ng-click="clearCountry()">
								<span class="glyphicon glyphicon-remove" />
							</button>
							<button class="btn btn-default" ng-show="!readOnly && obj.enableCountry" tooltip="{{'cmd.select' | translate}}" ng-click="selectCountry()">
								<span class="glyphicon glyphicon-search" />
							</button>
						</div>
					</div>
				</div>
			</fieldset>
			<br/>
			<input type="number" ng-hide="true" min="1" ng-model="obj.cities.length"/>
			<div>
				<table id="caption" class="table">
					<tr>
						<td class="text-left">
							<h4 ng-class="{'invalidRequired': obj.cities.length==0}">Cities</h4>
						</td>
						<td class="text-right">
							<a class="select-link iconBig" alt="{{'cmd.select' | translate}}" ng-show="!readOnly" ng-click="selectCities()" ><span tooltip="{{'cmd.select' | translate}}" class="glyphicon glyphicon-search"></span></a>
							<a class="iconBig" alt="{{'cmd.add' | translate}}" ng-show="!readOnly && ui.createCities" ng-click="addCities()" ><span tooltip="{{'cmd.add' | translate}}" class="glyphicon glyphicon-plus"></span></a>
						</td>
					</tr>
				</table>
				<table id="itemList" class="table data-table table-hover table-striped table-condensed">
					<thead>
						<th ng-click="sortBy('name')" class="col-md-5">Name<sort-column ng-model="searchContext.sort.name"></sort-column></th>
						<th ng-show="!readOnly" class="col-md-1"></th>
					</thead>
					<tbody>
						<tr ng-repeat="city in obj.cities">
							<td class="data"><a ng-click="viewCities(city)">{{city.name}}</a></td>
							<td>
								<a href ng-show="!readOnly" ng-click="deleteCities(city)">
									<span class="glyphicon glyphicon-link color-red" tooltip="{{'cmd.unlink' | translate}}"></span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>			
			<br/>
			<br/>
			<div ng-hide="obj.hideProjects">
				<table id="caption" class="table">
					<tr>
						<td class="text-left">
							<h4>Projects</h4>
						</td>
						<td class="text-right">
							<a class="select-link iconBig" alt="{{'cmd.select' | translate}}" ng-show="!readOnly" ng-click="selectProjects()" ><span tooltip="{{'cmd.select' | translate}}" class="glyphicon glyphicon-search"></span></a>
							<a class="iconBig" alt="{{'cmd.add' | translate}}" ng-show="!readOnly && ui.createProjects && !isCreation" ng-click="addProjects()" ><span tooltip="{{'cmd.add' | translate}}" class="glyphicon glyphicon-plus"></span></a>
						</td>
					</tr>
				</table>
				<table id="itemList" class="table data-table table-hover table-striped table-condensed">
					<thead>
						<th ng-click="sortBy('name')" class="col-md-5">Name<sort-column ng-model="searchContext.sort.name"></sort-column></th>
						<th ng-click="sortBy('description')" class="col-md-5">Description<sort-column ng-model="searchContext.sort.description"></sort-column></th>
						<th ng-click="sortBy('startDate')" class="col-md-5">StartDate<sort-column ng-model="searchContext.sort.startDate"></sort-column></th>
						<th ng-click="sortBy('endDate')" class="col-md-5">EndDate<sort-column ng-model="searchContext.sort.endDate"></sort-column></th>
						<th ng-click="sortBy('customer')" class="col-md-5">Customer<sort-column ng-model="searchContext.sort.customer"></sort-column></th>
						<th ng-click="sortBy('customerProducer')" class="col-md-5">CustomerProducer<sort-column ng-model="searchContext.sort.customerProducer"></sort-column></th>
					</thead>
					<tbody>
						<tr ng-repeat="project in obj.projects">
							<td class="data"><a ng-click="viewProjects(project)">{{project.name}}</a></td>
							<td class="data">{{project.description}}</td>
							<td class="data">{{project.startDate | date:'yyyy.MM.dd'}}</td>
							<td class="data">{{project.endDate | date:'yyyy.MM.dd'}}</td>
							<td class="data">{{project.customer}}</td>
							<td class="data">{{project.customerProducer}}</td>
						</tr>
					</tbody>
				</table>
			</div>			
			<br/>
			<br/>
			<div ng-hide="obj.hideAppUsers">
				<table id="caption" class="table">
					<tr>
						<td class="text-left">
							<h4>AppUsers</h4>
						</td>
						<td class="text-right">
							<a class="select-link iconBig" alt="{{'cmd.select' | translate}}" ng-show="!readOnly" ng-click="selectAppUsers()" ><span tooltip="{{'cmd.select' | translate}}" class="glyphicon glyphicon-search"></span></a>
							<a class="iconBig" alt="{{'cmd.add' | translate}}" ng-show="!readOnly && ui.createAppUsers" ng-click="addAppUsers()" ><span tooltip="{{'cmd.add' | translate}}" class="glyphicon glyphicon-plus"></span></a>
						</td>
					</tr>
				</table>
				<table id="itemList" class="table data-table table-hover table-striped table-condensed">
					<thead>
						<th ng-click="sortBy('firstName')" class="col-md-5">FirstName<sort-column ng-model="searchContext.sort.firstName"></sort-column></th>
						<th ng-click="sortBy('lastName')" class="col-md-5">LastName<sort-column ng-model="searchContext.sort.lastName"></sort-column></th>
						<th ng-click="sortBy('email')" class="col-md-5">Email<sort-column ng-model="searchContext.sort.email"></sort-column></th>
						<th ng-click="sortBy('phone')" class="col-md-5">Phone<sort-column ng-model="searchContext.sort.phone"></sort-column></th>
						<th ng-click="sortBy('photo')" class="col-md-5">Photo<sort-column ng-model="searchContext.sort.photo"></sort-column></th>
						<th ng-click="sortBy('equipment')" class="col-md-5">Equipment<sort-column ng-model="searchContext.sort.equipment"></sort-column></th>
						<th ng-click="sortBy('rate')" class="col-md-5">Rate<sort-column ng-model="searchContext.sort.rate"></sort-column></th>
						<th ng-click="sortBy('workingHours')" class="col-md-5">WorkingHours<sort-column ng-model="searchContext.sort.workingHours"></sort-column></th>
						<th ng-click="sortBy('overtimeRate')" class="col-md-5">OvertimeRate<sort-column ng-model="searchContext.sort.overtimeRate"></sort-column></th>
						<th ng-click="sortBy('cVOverview')" class="col-md-5">CVOverview<sort-column ng-model="searchContext.sort.cVOverview"></sort-column></th>
						<th ng-click="sortBy('cv')" class="col-md-5">Cv<sort-column ng-model="searchContext.sort.cv"></sort-column></th>
						<th ng-click="sortBy('notes')" class="col-md-5">Notes<sort-column ng-model="searchContext.sort.notes"></sort-column></th>
						<th ng-show="!readOnly" class="col-md-1"></th>
					</thead>
					<tbody>
						<tr ng-repeat="appUser in obj.appUsers">
							<td class="data"><a ng-click="viewAppUsers(appUser)">{{appUser.firstName}}</a></td>
							<td class="data">{{appUser.lastName}}</td>
							<td class="data">{{appUser.email}}</td>
							<td class="data">{{appUser.phone}}</td>
							<td class="data"><a href="{{appUser.photo}}" ng-if="!(appUser.photo.toString().indexOf('/')==-1)"><img ng-src="{{appUser.photo}}" width="30"/></a></td>
							<td class="data">{{appUser.equipment}}</td>
							<td class="data">{{appUser.rate}}</td>
							<td class="data">{{appUser.workingHours}}</td>
							<td class="data">{{appUser.overtimeRate}}</td>
							<td class="data">{{appUser.cVOverview}}</td>
							<td class="data"><a href="{{appUser.cv}}"><span>{{appUser.cv | file }}</span></a></td>
							<td class="data">{{appUser.notes}}</td>
							<td>
								<a href ng-show="!readOnly" ng-click="deleteAppUsers(appUser)">
									<span class="glyphicon glyphicon-link color-red" tooltip="{{'cmd.unlink' | translate}}"></span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>			
			<br/>
			<div class="row">	
				<error-zone ng-model="errors"></error-zone>
			</div>

			<div ng-hide="dataReceived" class="loader"><img src="images/loader.gif" alt="Loading..." /></div>
			<div ng-show="uiWorking" class="loader"><img src="images/loader.gif" alt="Working..." /></div>

			<div class="row acc-buttons">
				<button type="button" ng-show="isView" class="btn btn-default" ng-click="cancel($event)">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span translate="cmd.back"></span>
				</button>
				<button type="button" ng-show="isCreation" class="btn btn-primary" ng-click="add()" ng-disabled="editForm.$invalid" >
					<span class="glyphicon glyphicon-plus"></span>
					<span translate="cmd.create"></span>
				</button>
				<button type="button" ng-show="isEdition" class="btn btn-primary" ng-click="update()" ng-disabled="editForm.$invalid" >
					<span class="glyphicon glyphicon-save"></span>
					<span translate="cmd.update"></span>
				</button>
				<button type="button" ng-show="isDeletion" class="btn btn-primary" ng-click="delete()">
					<span class="glyphicon glyphicon-trash"></span>
					<span translate="cmd.delete"></span>
				</button>
				<button type="button" ng-show="canEdit" class="btn btn-primary" ng-click="gotoEdit()" ng-disabled="editForm.$invalid" >
					<span class="glyphicon glyphicon-pencil"></span>
					<span translate="cmd.modify"></span>
				</button>
				<button type="button" ng-hide="isView" class="btn btn-default" ng-click="cancel($event)">
					<span translate="cmd.cancel"></span>
				</button>
				<button type="button" ng-show="canDelete" class="btn btn-primary pull-right" ng-click="gotoDelete()" ng-disabled="editForm.$invalid" >
					<span class="glyphicon glyphicon-trash"></span>
					<span translate="cmd.confirmDeletion"></span>
				</button>					
			</div>
		</form>
	</div>
	<div class="col-md-1"></div>
</div>
