<div class="row">
	<div class="col-md-12">
	
		<table id="caption" class="table">
			<tr>
				<td class="text-left">
				</td>
				<td class="text-center">
					<h3 translate="label.class.select.company"></h3>
				</td>
				<td class="text-right">
				  <a class="iconBig" href ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span></a>
				</td>
			</tr>
		</table>

		<div class="upperTableZone row">
			<search-tool class="col-md-12"
						 ng-model="searchContext"
						 search="refresh">
			</search-tool>
		</div>

		<table id="itemList" class="table data-table table-hover table-striped table-condensed" ng-show="dataReceived">
			<thead>
				<th>
				</th>				
				<th ng-click="sortBy('name')">Name<sort-column ng-model="searchContext.sort.name"></sort-column></th>
				<th ng-click="sortBy('companyEmail')">CompanyEmail<sort-column ng-model="searchContext.sort.companyEmail"></sort-column></th>
				<th ng-click="sortBy('contactPhone')">ContactPhone<sort-column ng-model="searchContext.sort.contactPhone"></sort-column></th>
				<th ng-click="sortBy('logo')">Logo<sort-column ng-model="searchContext.sort.logo"></sort-column></th>
				
				<th></th>
			</thead>
			<tbody>
				<tr ng-repeat="company in dataList">
					<td>
						<a href ng-click="select(company, $event)">
							<span class="glyphicon glyphicon-search" tooltip="Select">
						</a>
					</td>
					<td class="data">{{company.name}}</td>
					<td class="data">{{company.companyEmail}}</td>
					<td class="data">{{company.contactPhone}}</td>
					<td class="data"><a href="{{company.logo}}"><img ng-src="{{company.logo}}" width="30"/></a></td>
					<td>
						<a href ng-click="select(company, $event)">
							<span class="glyphicon glyphicon-search" tooltip="Select">
						</a>
					</td>
				</tr>
			</tbody>
		</table>			
		
		<div ng-show="dataReceived" class="text-center">
			<div>
				<pagination max-size="5" 
							boundary-links="true" 
				            total-items="searchContext.totalItems" 
				            items-per-page="searchContext.pageSize" 
				            ng-model="searchContext.currentPage" 
							ng-change="loadCurrentPage()"
							previous-text="&lsaquo;" 
							next-text="&rsaquo;" 
							first-text="&laquo;" 
							last-text="&raquo;">
				</pagination>
			</div>
		</div>			
		<div ng-show="!dataReceived" class="loader">
			<img src="images/loader.gif" alt="Loading..." />
		</div>
		<div class="row acc-buttons">
			<div class="form-group">
				<div>
					<button class="btn" ng-click="select()">
						<span class="glyphicon glyphicon-chevron-left"></span>
						<span translate="cmd.cancel"></span>
					</button>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
