<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<form class="form-inline text-left" name="editForm" keypress-enter="submit()" keypress-esc="cancel()">
			<h3 ng-show="isEdition"  class="text-center" translate="label.class.edit.task"></h3>
			<h3 ng-show="isCreation" class="text-center" translate="label.class.create.task"></h3>
			<h3 ng-show="isDeletion" class="text-center" translate="label.class.delete.task"></h3>
			<h3 ng-show="isView"     class="text-center" translate="label.class.singular.task"></h3>			
			<fieldset ng-show="dataReceived">
				<div class="row">
					<div class="form-group col-md-4">
						<label for="inputDescription">Description</label>
						<div>
							<input id="inputDescription" 
								   name="inputDescription"
								   type="text" 
								   class="form-control" 
								   placeholder="Description" 
								   ng-model="obj.description" 
								   ng-readonly="readOnly"
								   required auto-focus />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputStartDate">StartDate</label>
						<div>
							<date-selector id="inputStartDate" 
										   name="inputStartDate"
					          			   placeholder="StartDate" 
						       			   ng-model="obj.startDate"
						       			   ng-readonly="readOnly"
						       			   ng-required="true"
						       			   required/> 
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputEndDate">EndDate</label>
						<div>
							<date-selector id="inputEndDate" 
										   name="inputEndDate"
					          			   placeholder="EndDate" 
						       			   ng-model="obj.endDate"
						       			   ng-readonly="readOnly"
						       			   ng-required="true"
						       			   required/> 
						</div>
					</div>
				</div>
			</fieldset>
			<div class="row">	
				<error-zone ng-model="errors"></error-zone>
			</div>

			<div ng-hide="dataReceived" class="loader"><img src="images/loader.gif" alt="Loading..." /></div>
			<div ng-show="uiWorking" class="loader"><img src="images/loader.gif" alt="Working..." /></div>

			<div class="row acc-buttons">
				<button type="button" ng-show="isView" class="btn btn-default" ng-click="cancel($event)">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span translate="cmd.back"></span>
				</button>
				<button type="button" ng-show="isCreation" class="btn btn-primary" ng-click="add()" ng-disabled="editForm.$invalid" >
					<span class="glyphicon glyphicon-plus"></span>
					<span translate="cmd.create"></span>
				</button>
				<button type="button" ng-show="isEdition" class="btn btn-primary" ng-click="update()" ng-disabled="editForm.$invalid" >
					<span class="glyphicon glyphicon-save"></span>
					<span translate="cmd.update"></span>
				</button>
				<button type="button" ng-hide="isView" class="btn btn-default" ng-click="cancel($event)">
					<span translate="cmd.cancel"></span>
				</button>
			</div>
		</form>
	</div>
	<div class="col-md-1"></div>
</div>
