<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>MyCompany</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/bower_components/angular-loading-bar/build/loading-bar.min.css">
		<link rel='stylesheet' href='/bower_components/textAngular/src/textAngular.css'>
		<link rel="stylesheet" type="text/css" href="/bower_components/ng-sortable/dist/ng-sortable.min.css">
		<link rel="stylesheet" type="text/css" href="/bower_components/ng-sortable/dist/ng-sortable.style.min.css">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body ng-app="myApp" ng-controller="TopController">
		<div id="wrapper">
			<div id="header">
				<ul class="nav navbar-inverse nav-tabs">
					<li><a class="mainMenu" href="#/" translate="appName"></a></li>
				</ul>
			</div>
			<div class="user-profile-tools">
				<language-selector languages="languages" ng-model="currentLanguage" on-change="languageChanged">
				</language-selector>
				<user-profile ng-model="session"
				              logout="logout">
				</user-profile>
			</div>
			
			<div  id="content" class="container-fluid content" ng-view>
			</div>

			<footer id="footer" class="footer navbar-bottom text-center">
				<span translate="view.footer.BuiltWith"></span> 
				<a href="http://hivepod.io"><img src="images/hivepod-logo-h-w.png" alt="Hivepod"/></a> 
				<span translate="view.footer.By"></span> 
				<a href="http://icinetic.com"><img src="images/icinetic-logo.png" alt="Icinetic"/></a>
			</footer>
		</div>
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
		<script src="//maps.googleapis.com/maps/api/js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-cookies.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>		
		<script src="/bower_components/angular-translate/angular-translate.js"></script>
		<script src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
		<script src="/bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
		<script src='/bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
		<script src='/bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
		<script src='/bower_components/textAngular/dist/textAngular.min.js'></script>
		<script src="/bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
		<script src="/bower_components/ngmap/build/scripts/ng-map.min.js"></script>
		<script src="/bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
		<script src="/bower_components/bootstrap-ui-datetime-picker/dist/datetime-picker.min.js"></script>
		<script src="/bower_components/ng-sortable/dist/ng-sortable.min.js"></script>
		<script src="lib/xlsx.full.min.js"></script>		

		<!-- JS-start -->
		<script src="app/app.js"></script>
		<script src="app/services/infrastructure/translateAppService.js"></script>
		<script src="app/services/infrastructure/authService.js"></script>
		<script src="app/services/infrastructure/permissionsService.js"></script>
		<script src="app/services/infrastructure/sessionService.js"></script>
		<script src="app/services/infrastructure/navigationService.js"></script>
		<script src="app/services/infrastructure/queryBuilderService.js"></script>	
		<script src="app/services/infrastructure/entityUtilService.js"></script>	
		<script src="app/services/infrastructure/userErrorService.js"></script>	
		<script src="app/services/infrastructure/importService.js"></script>
		<script src="app/services/infrastructure/csvService.js"></script>
		<script src="app/services/infrastructure/xlsxService.js"></script>	
		<script src="app/services/infrastructure/webHooksService.js"></script>
		<script src="app/services/infrastructure/usersService.js"></script>
		<script src="app/services/infrastructure/providersService.js"></script>
		<script src="app/services/infrastructure/configService.js"></script>
		<script src="app/services/infrastructure/geocodeService.js"></script>
		<script src="app/services/infrastructure/securityService.js"></script>
		<script src="app/services/domain/metadataService.js"></script>

		<script src="app/services/domain/companyService.js"></script>

		<script src="app/services/domain/projectService.js"></script>

		<script src="app/services/domain/crewMemberService.js"></script>

		<script src="app/services/domain/pencilService.js"></script>

		<script src="app/services/domain/roleService.js"></script>

		<script src="app/services/domain/pencilStateService.js"></script>

		<script src="app/services/domain/appUserService.js"></script>

		<script src="app/services/domain/countryService.js"></script>

		<script src="app/services/domain/cityService.js"></script>

		<script src="app/services/domain/crewMemberStateService.js"></script>

		<script src="app/services/domain/projectStateService.js"></script>

		<script src="app/controllers/top.js"></script>
		<script src="app/controllers/main.js"></script>
		<script src="app/controllers/login.js"></script>
		<script src="app/controllers/logout.js"></script>
		<script src="app/controllers/import.js"></script>	
	
		<script src="app/controllers/company/list.js"></script>
		<script src="app/controllers/company/select.js"></script>
		<script src="app/controllers/company/edit.js"></script>
		<script src="app/controllers/project/list.js"></script>
		<script src="app/controllers/project/select.js"></script>
		<script src="app/controllers/project/edit.js"></script>
		<script src="app/controllers/crewMember/list.js"></script>
		<script src="app/controllers/crewMember/select.js"></script>
		<script src="app/controllers/crewMember/edit.js"></script>
		<script src="app/controllers/pencil/list.js"></script>
		<script src="app/controllers/pencil/select.js"></script>
		<script src="app/controllers/pencil/edit.js"></script>
		<script src="app/controllers/historyEntry/list.js"></script>
		<script src="app/controllers/historyEntry/select.js"></script>
		<script src="app/controllers/historyEntry/edit.js"></script>
		<script src="app/controllers/task/list.js"></script>
		<script src="app/controllers/task/select.js"></script>
		<script src="app/controllers/task/edit.js"></script>
		<script src="app/controllers/crewMemberScheduleItem/list.js"></script>
		<script src="app/controllers/crewMemberScheduleItem/select.js"></script>
		<script src="app/controllers/crewMemberScheduleItem/edit.js"></script>
		<script src="app/controllers/role/list.js"></script>
		<script src="app/controllers/role/select.js"></script>
		<script src="app/controllers/role/edit.js"></script>
		<script src="app/controllers/pencilState/list.js"></script>
		<script src="app/controllers/pencilState/select.js"></script>
		<script src="app/controllers/pencilState/edit.js"></script>
		<script src="app/controllers/appUser/list.js"></script>
		<script src="app/controllers/appUser/select.js"></script>
		<script src="app/controllers/appUser/edit.js"></script>
		<script src="app/controllers/country/list.js"></script>
		<script src="app/controllers/country/select.js"></script>
		<script src="app/controllers/country/edit.js"></script>
		<script src="app/controllers/city/list.js"></script>
		<script src="app/controllers/city/select.js"></script>
		<script src="app/controllers/city/edit.js"></script>
		<script src="app/controllers/crewMemberState/list.js"></script>
		<script src="app/controllers/crewMemberState/select.js"></script>
		<script src="app/controllers/crewMemberState/edit.js"></script>
		<script src="app/controllers/projectState/list.js"></script>
		<script src="app/controllers/projectState/select.js"></script>
		<script src="app/controllers/projectState/edit.js"></script>

		<script src="app/controllers/admin/webHooks.js"></script>
		<script src="app/controllers/admin/users.js"></script>
		<script src="app/controllers/admin/permissions.js"></script>		
		<script src="app/controllers/confirmDeletionDialog.js"></script>

		<script src="app/directives/fileread.js"></script>
		<script src="app/directives/geopointSelector.js"></script>
		<script src="app/directives/dateSelector.js"></script>
		<script src="app/directives/timeSelector.js"></script>
		<script src="app/directives/datetimeSelector.js"></script>
		<script src="app/directives/htmlCellDisplay.js"></script>
		<script src="app/directives/errorZone.js"></script>
		<script src="app/directives/searchTool.js"></script>
		<script src="app/directives/urlDisplay.js"></script>
		<script src="app/directives/sortColumn.js"></script>
		<script src="app/directives/userProfile.js"></script>
		<script src="app/directives/languageSelector.js"></script>
		<script src="app/directives/imageSelector.js"></script>
		<script src="app/directives/fileSelector.js"></script>
		<script src="app/directives/tristate.js"></script>
		<script src="app/directives/keypressEnter.js"></script>
		<script src="app/directives/keypressEsc.js"></script>
		<script src="app/directives/autofocus.js"></script>

		<script src="app/filters/checkmark.js"></script>
		<script src="app/filters/geopoint.js"></script>
		<script src="app/filters/file.js"></script>		
		<!-- JS-end -->

	</body>
</html>
