<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<form class="form-inline text-left" name="editForm" keypress-enter="submit()" keypress-esc="cancel()">
			<h3 ng-show="isEdition"  class="text-center" translate="label.class.edit.historyEntry"></h3>
			<h3 ng-show="isCreation" class="text-center" translate="label.class.create.historyEntry"></h3>
			<h3 ng-show="isDeletion" class="text-center" translate="label.class.delete.historyEntry"></h3>
			<h3 ng-show="isView"     class="text-center" translate="label.class.singular.historyEntry"></h3>			
			<fieldset ng-show="dataReceived">
				<div class="row">
					<div class="form-group col-md-4">
						<label for="inputDate">Date</label>
						<div>
							<datetime-selector id="inputDate" 
											   name="inputDate"
						          			   placeholder="Date" 
						        			   ng-model="obj.date"
						        			   ng-readonly="readOnly"
						       		   		   ng-required="true"
						       		   		   required auto-focus/> 
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputState">State</label>
						<div>
							<input id="inputState" 
								   name="inputState"
								   type="text" 
								   class="form-control" 
								   placeholder="State" 
								   ng-model="obj.state" 
								   ng-readonly="readOnly"
								   required />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputUser">User</label>
						<div>
							<input id="inputUser" 
								   name="inputUser"
								   type="text" 
								   class="form-control" 
								   placeholder="User" 
								   ng-model="obj.user" 
								   ng-readonly="readOnly"
								   required />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputDescription">Description</label>
						<div>
							<input id="inputDescription" 
								   name="inputDescription"
								   type="text" 
								   class="form-control" 
								   placeholder="Description" 
								   ng-model="obj.description" 
								   ng-readonly="readOnly"
								    />
						</div>
					</div>
				</div>
			</fieldset>
			<div class="row">	
				<error-zone ng-model="errors"></error-zone>
			</div>

			<div ng-hide="dataReceived" class="loader"><img src="images/loader.gif" alt="Loading..." /></div>
			<div ng-show="uiWorking" class="loader"><img src="images/loader.gif" alt="Working..." /></div>

			<div class="row acc-buttons">
				<button type="button" ng-show="isView" class="btn btn-default" ng-click="cancel($event)">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span translate="cmd.back"></span>
				</button>
				<button type="button" ng-show="isCreation" class="btn btn-primary" ng-click="add()" ng-disabled="editForm.$invalid" >
					<span class="glyphicon glyphicon-plus"></span>
					<span translate="cmd.create"></span>
				</button>
				<button type="button" ng-show="isEdition" class="btn btn-primary" ng-click="update()" ng-disabled="editForm.$invalid" >
					<span class="glyphicon glyphicon-save"></span>
					<span translate="cmd.update"></span>
				</button>
				<button type="button" ng-hide="isView" class="btn btn-default" ng-click="cancel($event)">
					<span translate="cmd.cancel"></span>
				</button>
			</div>
		</form>
	</div>
	<div class="col-md-1"></div>
</div>
