<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<form class="form-inline text-left" name="editForm" keypress-enter="submit()" keypress-esc="cancel()">
			<h3 ng-show="isEdition"  class="text-center" translate="label.class.edit.crewMember"></h3>
			<h3 ng-show="isCreation" class="text-center" translate="label.class.create.crewMember"></h3>
			<h3 ng-show="isDeletion" class="text-center" translate="label.class.delete.crewMember"></h3>
			<h3 ng-show="isView"     class="text-center" translate="label.class.singular.crewMember"></h3>			
			<fieldset ng-show="dataReceived">
				<div class="row">
					<div class="form-group col-md-4">
						<label for="inputDescription">Description</label>
						<div>
							<input id="inputDescription" 
								   name="inputDescription"
								   type="text" 
								   class="form-control" 
								   placeholder="Description" 
								   ng-model="obj.description" 
								   ng-readonly="readOnly"
								   required auto-focus />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputProject">Project</label>
						<div>
							<input id="inputProject" 
								   name="inputProject"
								   type="text" 
								   class="form-control" 
								   placeholder="(not assigned)" 
								   ng-model="obj.actualProject._displayLabel" 
								   readonly  />
							<button class="btn btn-default" ng-show="!readOnly && obj.actualProject._displayLabel && obj.enableProject" tooltip="Clear" ng-click="clearProject()">
								<span class="glyphicon glyphicon-remove" />
							</button>
							<button class="btn btn-default" ng-show="!readOnly && obj.enableProject" tooltip="{{'cmd.select' | translate}}" ng-click="selectProject()">
								<span class="glyphicon glyphicon-search" />
							</button>
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputRol">Rol</label>
						<div>
							<input id="inputRol" 
								   name="inputRol"
								   type="text" 
								   class="form-control" 
								   placeholder="(not assigned)" 
								   ng-model="obj.actualRol._displayLabel" 
								   readonly required />
							<button class="btn btn-default" ng-show="!readOnly && obj.actualRol._displayLabel && obj.enableRol" tooltip="Clear" ng-click="clearRol()">
								<span class="glyphicon glyphicon-remove" />
							</button>
							<button class="btn btn-default" ng-show="!readOnly && obj.enableRol" tooltip="{{'cmd.select' | translate}}" ng-click="selectRol()">
								<span class="glyphicon glyphicon-search" />
							</button>
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputCity">City</label>
						<div>
							<input id="inputCity" 
								   name="inputCity"
								   type="text" 
								   class="form-control" 
								   placeholder="(not assigned)" 
								   ng-model="obj.actualCity._displayLabel" 
								   readonly required />
							<button class="btn btn-default" ng-show="!readOnly && obj.actualCity._displayLabel && obj.enableCity" tooltip="Clear" ng-click="clearCity()">
								<span class="glyphicon glyphicon-remove" />
							</button>
							<button class="btn btn-default" ng-show="!readOnly && obj.enableCity" tooltip="{{'cmd.select' | translate}}" ng-click="selectCity()">
								<span class="glyphicon glyphicon-search" />
							</button>
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputState">State</label>
						<div>
							<input id="inputState" 
								   name="inputState"
								   type="text" 
								   class="form-control" 
								   placeholder="(not assigned)" 
								   ng-model="obj.actualState._displayLabel" 
								   readonly required />
							<button class="btn btn-default" ng-show="!readOnly && obj.actualState._displayLabel && obj.enableState" tooltip="Clear" ng-click="clearState()">
								<span class="glyphicon glyphicon-remove" />
							</button>
							<button class="btn btn-default" ng-show="!readOnly && obj.enableState" tooltip="{{'cmd.select' | translate}}" ng-click="selectState()">
								<span class="glyphicon glyphicon-search" />
							</button>
						</div>
					</div>
				</div>
			</fieldset>
			<br/>
			<table id="caption" class="table">
				<tr>
					<td class="text-left">
						<h4>Schedule</h4>
					</td>
					<td class="text-right">
						<a class="iconBig" alt="{{'cmd.add' | translate}}" ng-show="!readOnly" ng-click="addSchedule()" ><span tooltip="{{'cmd.add' | translate}}" class="glyphicon glyphicon-plus"></span></a>
					</td>
				</tr>
			</table>
			<table id="itemList" class="table data-table table-hover table-striped table-condensed">
				<thead>
					<th ng-click="sortBy('description')" class="col-md-5">Description<sort-column ng-model="searchContext.sort.description"></sort-column></th>
					<th ng-click="sortBy('startDate')" class="col-md-5">StartDate<sort-column ng-model="searchContext.sort.startDate"></sort-column></th>
					<th ng-click="sortBy('endDate')" class="col-md-5">EndDate<sort-column ng-model="searchContext.sort.endDate"></sort-column></th>
					
					<th ng-show="!readOnly" class="col-md-1"></th>
					<th ng-show="!readOnly" class="col-md-1"></th>
					<th ng-show="!readOnly" class="col-md-1"></th>
				</thead>
				<tbody>
					<tr ng-repeat="crewMemberScheduleItem in obj.schedule">
							<td class="data"><a ng-click="viewSchedule(crewMemberScheduleItem)">{{crewMemberScheduleItem.description}}</a></td>
							<td class="data">{{crewMemberScheduleItem.startDate | date:'yyyy.MM.dd'}}</td>
							<td class="data">{{crewMemberScheduleItem.endDate | date:'yyyy.MM.dd'}}</td>
						<td>
							<a href ng-click="viewSchedule(crewMemberScheduleItem)">
								<span class="glyphicon glyphicon-th-list" tooltip="{{'cmd.view' | translate}}"></span>
							</a>
						</td>
						<td>
							<a href ng-show="!readOnly" ng-click="editSchedule(crewMemberScheduleItem)">
								<span class="glyphicon glyphicon-edit" tooltip="{{'cmd.edit' | translate}}"></span>
							</a>
						</td>
						<td>
							<a href ng-show="!readOnly" ng-click="deleteSchedule(crewMemberScheduleItem)">
								<span class="glyphicon glyphicon-remove color-red" tooltip="{{'cmd.delete' | translate}}"></span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>			
			<br/>
			<br/>
			<div ng-hide="obj.hidePencilList">
				<table id="caption" class="table">
					<tr>
						<td class="text-left">
							<h4>PencilList</h4>
						</td>
						<td class="text-right">
							<a class="select-link iconBig" alt="{{'cmd.select' | translate}}" ng-show="!readOnly" ng-click="selectPencilList()" ><span tooltip="{{'cmd.select' | translate}}" class="glyphicon glyphicon-search"></span></a>
							<a class="iconBig" alt="{{'cmd.add' | translate}}" ng-show="!readOnly && ui.createPencilList" ng-click="addPencilList()" ><span tooltip="{{'cmd.add' | translate}}" class="glyphicon glyphicon-plus"></span></a>
						</td>
					</tr>
				</table>
				<table id="itemList" class="table data-table table-hover table-striped table-condensed">
					<thead>
						<th ng-click="sortBy('description')" class="col-md-5">Description<sort-column ng-model="searchContext.sort.description"></sort-column></th>
						<th ng-show="!readOnly" class="col-md-1"></th>
					</thead>
					<tbody>
						<tr ng-repeat="pencil in obj.pencilList">
							<td class="data"><a ng-click="viewPencilList(pencil)">{{pencil.description}}</a></td>
							<td>
								<a href ng-show="!readOnly" ng-click="deletePencilList(pencil)">
									<span class="glyphicon glyphicon-link color-red" tooltip="{{'cmd.unlink' | translate}}"></span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>			
			<br/>
			<div class="row">	
				<error-zone ng-model="errors"></error-zone>
			</div>

			<div ng-hide="dataReceived" class="loader"><img src="images/loader.gif" alt="Loading..." /></div>
			<div ng-show="uiWorking" class="loader"><img src="images/loader.gif" alt="Working..." /></div>

			<div class="row acc-buttons">
				<button type="button" ng-show="isView" class="btn btn-default" ng-click="cancel($event)">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span translate="cmd.back"></span>
				</button>
				<button type="button" ng-show="isCreation" class="btn btn-primary" ng-click="add()" ng-disabled="editForm.$invalid" >
					<span class="glyphicon glyphicon-plus"></span>
					<span translate="cmd.create"></span>
				</button>
				<button type="button" ng-show="isEdition" class="btn btn-primary" ng-click="update()" ng-disabled="editForm.$invalid" >
					<span class="glyphicon glyphicon-save"></span>
					<span translate="cmd.update"></span>
				</button>
				<button type="button" ng-show="isDeletion" class="btn btn-primary" ng-click="delete()">
					<span class="glyphicon glyphicon-trash"></span>
					<span translate="cmd.delete"></span>
				</button>
				<button type="button" ng-show="canEdit" class="btn btn-primary" ng-click="gotoEdit()" ng-disabled="editForm.$invalid" >
					<span class="glyphicon glyphicon-pencil"></span>
					<span translate="cmd.modify"></span>
				</button>
				<button type="button" ng-hide="isView" class="btn btn-default" ng-click="cancel($event)">
					<span translate="cmd.cancel"></span>
				</button>
				<button type="button" ng-show="canDelete" class="btn btn-primary pull-right" ng-click="gotoDelete()" ng-disabled="editForm.$invalid" >
					<span class="glyphicon glyphicon-trash"></span>
					<span translate="cmd.confirmDeletion"></span>
				</button>					
			</div>
		</form>
	</div>
	<div class="col-md-1"></div>
</div>
